<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <h1>SISTEMA DE VISUALIZACIÓN DE DATOS</h1>
    </header>
    <main>
        <div class="grid-container">
            <a href="/upload" class="grid-item upload">
                <div class="overlay">SUBIR TABLAS</div>
            </a>
            <a href="/tables" class="grid-item tables">
                <div class="overlay">VISUALIZAR TABLAS</div>
            </a>
            <a href="/join_tables" class="grid-item join">
                <div class="overlay">RELACIONAR TABLAS</div>
            </a>
        </div>
    </main>
</body>
</html>
