<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTEMA DE VISUALIZACIÓN DE DATOS</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/join_tables.js"></script>
</head>
<body>
    <header>
        <h1>Relacionar Tablas</h1>
    </header>
    <p>Relacione tablas utilizando columnas comunes para obtener vistas combinadas de los datos</p>
    <form method="POST" action="/join_tables">
        <h2>Seleccione la Primera Tabla</h2>
        <select name="table1">
            {% for table in tables %}
                <option value="{{ table }}">{{ table }}</option>
            {% endfor %}
        </select>
        <select name="column1">
            {% for table, cols in columns.items() %}
                {% for col in cols %}
                    <option value="{{ col }}">{{ col }}</option>
                {% endfor %}
            {% endfor %}
        </select>

        <h2>Seleccione la Segunda Tabla</h2>
        <select name="table2">
            {% for table in tables %}
                <option value="{{ table }}">{{ table }}</option>
            {% endfor %}
        </select>
        <select name="column2">
            {% for table, cols in columns.items() %}
                {% for col in cols %}
                    <option value="{{ col }}">{{ col }}</option>
                {% endfor %}
            {% endfor %}
        </select>

        <button type="submit">Relacionar</button>
    </form>
    <main>
        {{ data|safe }}
        <a href="{{ url_for('index') }}">Volver al Inicio</a>
    </main>  
</body>
</html>
