<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas en la Base de Datos</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/tables.css">
    <script src="/static/js/tables.js" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>TABLAS EXISTENTES EN LA BASE DE DATOS</h1>
    </header>
    <main class="main-container">
        <p>Explore las tablas ya subidas y procesadas en la base de datos:</p>

        <ul class="table-list">
            {% for table in tables %}
                <li>
                    <a href="/table/{{ table }}">{{ table }}</a>
                    <i class="fas fa-trash delete-icon" onclick="showPopup('{{ table }}')" title="Eliminar"></i>
                </li>
            {% endfor %}
        </ul>

        <!-- Pop-Up para Confirmación -->
        <div id="deletePopup" class="popup">
            <div class="popup-content">
                <h2>Confirmación de Eliminación</h2>
                <p>¿Está seguro de que quiere eliminar la tabla "<span id="tableName"></span>"?</p>
                <form id="deleteForm" method="POST">
                    <button type="submit" class="confirm">Confirmar</button>
                    <button type="button" class="cancel" onclick="closePopup()">Cancelar</button>
                </form>
            </div>
        </div>

        <!-- Botón Volver a inicio-->
        <div class="back-link">
            <a href="{{ url_for('index') }}">Volver a Inicio</a>
        </div>
    </main>
</body>
</html>