/* base.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
    line-height: 1.6;
}

/* base.css */
header {
    background-image: url('/static/images/logo_fi_upm.gif'); /* Imagen de fondo */
    background-size: contain; /* Ajusta la imagen al tamaño disponible */
    background-repeat: no-repeat; /* Evita que se repita */
    background-position: top left; /* Posición de la imagen */
    background-color: rgb(255, 255, 255); /* Fondo blanco */
    color: rgb(0, 0, 0); /* Texto negro */
    padding: 1rem; /* Espaciado interno */
    text-align: center; /* Centra el texto horizontalmente */
}

header h1 {
    margin: 0;
    padding-left: 400px; /* Desplaza el texto hacia la derecha para evitar que se superponga con el logo */
    font-size: 1.8rem; /* Tamaño del texto */
    font-weight: bold; /* Negrita para el título */
}

a {
    color: #4a90e2;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #2b669a;
}

button {
    font-family: inherit;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #367bb3;
    color: white;
}

main {
    padding: 20px;
    text-align: center;
}
