body {
    font:0.8em verdana, arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-image: url('/static/images/logo_fi_upm.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
}

header h1 {
    padding-left: 400px;
}

main {
    padding: 2rem;
    text-align: center;
}
main a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #336699;
    color: #fff;
    border-radius: 5px;
    margin-top: 1rem;
    display: inline-block;
}